{% extends 'base.html' %}
{% block title %}Categorias{% endblock %}
{% block content %}
<div class="card">
  <h2>Categorias</h2>
  <form method="post" class="row">
    <input name="nome" placeholder="Nova categoria..." required>
    <button class="btn">Adicionar</button>
  </form>
  <ul class="list">
    {% for c in categorias %}
      <li class="flex">
        <span>#{{ "%03d"|format(c.id) }} — {{ c.nome }}</span>
        <form method="post" action="{{ url_for('categoria_excluir', id=c.id) }}" class="right"
              onsubmit="return confirm('Excluir categoria? Produtos ficarão sem categoria.');">
          <button class="btn danger">Excluir</button>
        </form>
      </li>
    {% else %}
      <li>Nenhuma categoria ainda.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
